<h1 class="text-center pt-3">Register to this COOL site!</h1>

<div class="container">
    <div class="row mt-5">
        <div class="col-md">
            <partial name="_Register"></partial>
        </div>
    </div>
    <hr>
    <div class="row mt-5">
        <div class="col-md">
            <partial name="_Login"></partial>
        </div>
    </div>
</div>